@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bogart-Semibold";
  src: url("../../public/fonts/bogart-semibold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --progress: 0;

    --background: #eeece5;
    --secondary: #a58725;
    --bright: #00eded;
    --w: var(--background);
    --primary: #fe4e01;
    --pink: #eb98b4;
    --dark-green: #08350e;
  }

  body {
    font-family: "Lexend Mega", sans-serif;
  }

  .title {
    font-family: "Bogart-Semibold";
  }

  body:hover #cursor {
    opacity: 1;
  }

  body svg {
    position: absolute;
    width: 0;
    height: 0;
  }

  body.loaded::-webkit-scrollbar {
    background: #a58725;
    width: 5px;
  }
  body::-webkit-scrollbar {
    background: #fe4e01;
    background: #a58725;
    width: 5px;
  }
  body::-webkit-scrollbar-thumb {
    background: #fe4e01;
  }

  .bg-gradient {
    background: linear-gradient(to right, #08350e 0%, #08350e 100%),
      linear-gradient(to top, #08350e 50%, transparent 50%),
      linear-gradient(to top, #08350e 50%, transparent 50%),
      linear-gradient(to right, #08350e 0%, #08350e 100%),
      linear-gradient(to left, #08350e 0%, #08350e 100%);
    background-size: 100% 2px, 2px 200%, 2px 200%, 0% 2px, 0% 2px;
    background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
    background-repeat: no-repeat, no-repeat;
    transition: transform 0.2s ease-in-out, background-position 0.2s ease-in-out,
      background-size 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  }

  .invert {
    filter: invert(1) saturate(0) blur(calc(50px - var(--progress) * 125px))
      brightness(0.5) contrast(4);
  }
  .shift {
    left: 0;
  }
  .light {
    filter: saturate(0) blur(calc(50px - var(--progress) * 125px))
      brightness(0.75) contrast(4);
  }
  .lighter {
    filter: saturate(0) blur(calc(50px - var(--progress) * 125px)) brightness(1)
      contrast(4);
  }
}
